@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(4, 2, 45);
  background: linear-gradient(
    90deg,
    rgba(0, 131, 111, 1) 100%,
    rgba(4, 2, 45, 1) 0%,
    rgba(8, 8, 69, 1) 35%
  );
  font-family: "Poppins", sans-serif;
}
